@import '../config.css';

header {
    background-color: var(--color-1);
    height: 40px;
    color: white;
}

.title {
    color: red;
}

.header-btn {
    display: none;
    font-size: 40px;
    color: white;
}

