.main {
    position: absolute;
    top: 5px;
    left: 5px;
}

.button {
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--color-2);
    color: white;
    border: none;
    border-radius: 100%;
}

.button-icon {
    font-size: 1.1rem;
    margin-top: -6px;
}

.selector {
    margin-top: 5px;
    display: block;
    background-color: #eee;
    width: 120px;
}

.li {
    padding: 5px;
    color: #444;
    font-size: 0.75rem;
    list-style: none;
    cursor: pointer;
}

.li:not(:last-child) {
    border-bottom: 1px solid var(--color-1);
}

.li:hover {
    background-color: var(--color-2);
}

.li[data-selected='true'] {
    background-color: var(--color-1);
    color: white;
}

.li[data-selected='true']:before {
    content: '▶';
    font-size: 0.5rem;
    margin-right: 5px;
}